* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#container {
    width: 100%;
    margin: auto;
    padding: 5%;
    background: rgb(185,12,213);
    background: linear-gradient(90deg, rgba(185,12,213,1) 4%, rgba(238,52,124,1) 50%, rgba(114,210,230,1) 93%);
}

#main {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: auto;
    padding: 5%;
    background-color: white;
    
}


.slogan, h3{
    text-align: center;
}
.card {
    margin: 1%;
    border: 3px solid black;
    padding: 1%;
}

img {
    width: 50%;
}

.button {
    color: white;
    border-radius: 12px;
    width:90px;
    height:30px;
    background: rgb(185,12,213);
    background: linear-gradient(90deg, rgba(185,12,213,1) 4%, rgba(238,52,124,1) 50%, rgba(114,210,230,1) 93%);
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    color:white;
    text-decoration: none;
}
